.coverage
.venv
.testrepository
subunit.log
*,cover
cover
*.pyc
.idea
*.swp
*~
AUTHORS
build
dist
ChangeLog
run_tests.err.log
.tox
doc/source/api
*.egg
ceilometerclient/versioninfo
python_ceilometerclient.egg-info
*.log
